body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.hidden {
  display: none;
}

#auth, #chat {
  width: 350px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.messages {
  height: 300px;
  overflow-y: auto;
  background: #1e293b;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
}
